<header class="site__header">

  <div class="branding clearfix">
    <h1 class="title">{{ site.subtitle }}</h1>
  </div> <!-- branding -->

  <nav class="nav__primary">
    <h1 class="hidden">Main Navigation</h1>
    <ul>
      <li><a {% if page.url == '/' %} class="active" {% endif %} href="/">Home</a></li>
      <li><a {% if page.url == '/services/' %} class="active" {% endif %} href="/services/">Services</a></li>
      <li><a {% if page.url == '/team/' %} class="active" {% endif %} href="/team">Team</a></li>
      <li><a {% if page.url == '/resources/' %} class="active" {% endif %} href="/resources/">Resources</a></li>
      <li><a {% if page.url == '/contact/' %} class="active" {% endif %} href="/contact/">Contact</a></li>
    </ul>
  </nav>

</header>
