/* ==========================================================================
   VARIABLES
   ========================================================================== */

// @import 'fonts';

$max-width: 40ems;

/*==========  FONTS  ==========*/

/* TYPE FACES */

$header-font-family: sans-serif;
$branding-font-family: sans-serif;
$base-font-family: sans-serif;

/* FONT WEIGHTS */
$light: 100;
$regular: 400;
$bold: 600;
$base-font-weight: $regular;
$base-font-size: 1em !default;
$base-line-height: 1.4;
$header-font-weight: $bold;


/*==========  COLORS  ==========*/

$bgcolor: #fff;
$pcolor: #474F55;
$acolor: #228b22; /* forestgreen */
// $paper: #fffff0;
// $smallprint: darken($paper, 55%);
// $base-button-color: #00a968;
// $hover-button-color: #1ec279;
// $hothighlight: #FFFF33;
// $badblood: lighten($acolor, 2%);
$ghost: lighten($pcolor, 25%);


$line-height: 1.5;
$base-spacing: $line-height * 2;