/* ==========================================================================
   TYPOGRAPHY..based on modernscale.scss
   ========================================================================== */

body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em; /* equivalent to 16px */
  line-height: 1.25; /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em; /* equivalent to 16px */
    line-height: 1.375; /* equivalent to 22px */
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
}

h1, .h1 {
  font-size: 2em; /* 2x body copy size = 32px */
  line-height: 1.25; /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.5em; /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 3em; /* 3x body copy size = 48px */
    line-height: 1.05; /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2, .h2 {
  font-size: 1.625em; /* 1.625x body copy size = 26px */
  line-height: 1.15384615; /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 2em; /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 2.25em; /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3, .h3 {
  font-size: 1.375em; /* 1.375x body copy size = 22px */
  line-height: 1.13636364; /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.5em; /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.75em; /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4, .h4 {
  font-size: 1.125em; /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22222222; /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em; /* 20px / 16px */
  line-height: 1.25; /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em; /* 24px / 16px = */
    line-height: 1.45833333; /* 35px / 24px */
  }
}

.h5 {
  font-size: 1em;
  line-height: 1.25;
}

.h6 {
  font-size: 0.75em;
  line-height: 1;
}

// .blurtext {
//   color: transparent;
//   text-shadow: 0 0 5px rgba(0,0,0,0.5);
// }


.deepshadow {
  color: #e0dfdc;
  // background-color: #333;
  letter-spacing: .1em;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 6px 0 #242424, 
    0 7px 0 #222, 
    0 8px 0 #202020, 
    0 9px 0 #1e1e1e, 
    0 10px 0 #1c1c1c, 
    0 11px 0 #1a1a1a, 
    0 12px 0 #181818, 
    0 13px 0 #161616, 
    0 14px 0 #141414, 
    0 15px 0 #121212, 
    0 22px 30px rgba(0, 0, 0, 0.9);
}
.insetshadow {
  color: #202020;
  // background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow: 
    -1px -1px 1px #111, 
    2px 2px 1px #363636;
}
.retroshadow {
  color: #2c2c2c;
  // background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}